<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.puti.paylib">

    <!-- 支付宝 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <queries>
        <!-- 支付宝正式环境 -->
        <package android:name="com.eg.android.AlipayGphone" />
        <!-- 支付宝沙箱环境 -->
        <package android:name="com.eg.android.AlipayGphoneRC" />
        <!-- 支付宝 HongKong -->
        <package android:name="hk.alipay.wallet" />
    </queries>

</manifest>
